#ignore file extensions
*.out
*.pyc
*.zip
*.pkl
*.h5

#ignore fits files
!pyklip/pickles/*.fits
!pyklip/filters/*.fits
version.py

# ignore testing files
tests/*.fits
tests/*.png
examples/*.fits
tests/data/p1640/output/*
tests/data/p1640/shared_spot_folder/*
tests/diskfm_dir/*
examples/*.png


#ignore auxiliary directories
pyklip.egg-info/
gitstats/
.idea/
.vscode/
testing_scripts/
docs/build/
.cache/
examples/.ipynb_checkpoints/
build/
.pytest_cache/
dist/
.DS_Store
pyklip/.DS_Store
